@use "../../assets/stylesheets/partials/breakpoints.scss";
@use "../../assets/stylesheets/partials/pallete.scss";

.carousel {
  margin: 0 0 24px;

  &_desktop {
    display: flex;

    @include breakpoints.tablet {
      display: none;
    }
  }

  &_mobile_or_tablet {
    display: none;

    @include breakpoints.tablet {
      display: flex;
    }
  }

  .carousel__button {
    width: 80px;
    margin: -12px;

    @include breakpoints.tablet {
      width: 60px;
      margin: -20px;
    }

    &:hover {
      filter: drop-shadow(0 0 2px pallete.$shadow-colour);
      cursor: pointer;
    }
  }
}
