@use "../../assets/stylesheets/partials/pallete.scss";

.carousel {
  display: flex;
  margin: 0 0 24px;

  .carousel__button {
    width: 80px;
    color: red;
    fill: currentColor;

    &:hover {
      filter: drop-shadow(0 0 2px black);
      cursor: pointer;
    }
  }
}
