$primary-text-colour: #2f4837;
$primary-text-hover-colour: #6bab7f;
$primary-background-colour: #bbe1ee;
$secondary-background-colour: white;
$tertiary-background-colour: #cfffb3;
$selected-colour: #7cd946;
$hover-colour: #a7df86;
$success-colour: #007728;
$danger-colour: #a50505;
$shadow-colour: #000;
