.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid black;

  .navbar__heading {
    margin: 0;
    padding: 12px 20px;
  }

  .navbar__list {
    display: flex;
    height: 52px;
    margin: 0;
    list-style: none;

    .list__link {
      display: flex;
      align-items: center;
      border: 1px solid black;
      text-decoration: none;

      .list__text {
        padding: 0 8px;
        line-height: 1;
      }
    }
  }
}
