@use "../../assets/stylesheets/partials/breakpoints.scss";
@use "../../assets/stylesheets/partials/mixins.scss";
@use "../../assets/stylesheets/partials/pallete.scss";

.item {
  display: flex;
  align-items: center;
  margin: 24px;
  padding: 24px;
  background-color: pallete.$secondary-background-colour;
  border: 2px solid pallete.$primary-text-colour;
  border-radius: 20px;

  @include breakpoints.phone {
    padding: 12px;
  }

  .item__div {
    display: flex;
    justify-content: center;
    width: 260px;

    @include breakpoints.phone {
      width: 180px;
    }

    .item__image {
      height: 200px;

      border: 2px solid pallete.$primary-text-colour;

      @include breakpoints.phone {
        height: 160px;
        margin-right: 8px;
      }
    }
  }

  .item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;

    @include breakpoints.small-desktop {
      font-size: 1.2rem;
    }

    @include breakpoints.phone {
      width: 260px;
      font-size: 1rem;
    }

    .item__title {
      font-size: 1.6rem;

      @include breakpoints.small-desktop {
        font-size: 1.2rem;
      }

      @include breakpoints.phone {
        font-size: 1rem;
      }
    }

    .item__quantity {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .quantity__span {
        display: flex;
        height: fit-content;
        margin-right: 20px;

        @include breakpoints.phone {
          margin-right: 8px;
        }

        .quantity__button {
          @include mixins.button-styles(4px 8px, 4px);
          margin: 0 0 0 4px;

          @include breakpoints.phone {
            font-size: 1rem;
          }

          .button__span {
            display: inline-block;
            width: 10px;
            position: relative;
            top: -1px;
          }
        }
      }
    }

    .item__message {
      @include mixins.message-styles;
    }
  }
}
